#cards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .card {
    display: block;
    width: 20vw;
    height: 30vh;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    overflow: hidden;

    .lines {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 3px;
      background-color: black;
    }

    #line-1 {
      background-color: $color-cyan;
    }

    #line-2 {
      background-color: $color-red;
    }

    #line-3 {
      background-color: $color-orange;
    }

    #line-4 {
      background-color: $color-blue;
    }
  }

  #card-set {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
